body {
    background-color: white;
    color: black;
    max-width: 798px;
    margin: 0 auto;
}

div {
    background-color: #866969;
    display: inline-block;
    font-size: x-large;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    margin: 10px;
    width: auto;
    max-width: 100%;
    padding: 2px;
}

h1 {
    cursor: pointer;
    text-align: center;
}



input {
    cursor: pointer;
    align-items: center;
}

h4 {
    text-align: center;
}

.highlight {
    /* color: red; */
    border-color: red;
}

/* .numberSpot {
    background-color: darkgrey;
    display: inline-block;
    width: 10%;
    min-height: 64px;
    text-align: center;
    font-size: x-large;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-color: #2a2a2a;
    border-radius: 8px;
    margin: 3px;
    padding-top: 32px;
    cursor: pointer;
} */